<!-- loader -->
<div *ngIf="loader" class="loader" id="loader"></div>
<div *ngIf="loader" class="opacity" id="opacity"></div>
<br>
<h1>Perfil</h1>
<hr>

<!--error message  -->
<div  *ngIf="errorMessage"
class="alert alert-danger alert-dismissible fade show" role="alert">
{{this.message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<!--success message  -->
<div  *ngIf="successMessage"
class="alert alert-success alert-dismissible fade show" role="alert">
{{this.message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<!--perfil -->
<div class="row">
  <div class="col-md-4">
    <div class="card animated fadeIn fast" style="width: 18rem;">
      <img class="card-img-top" *ngIf="user.data  && user.data.user_profile_image" src="{{this.user.data.user_profile_image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" *ngIf="user.data  && user.data.SUBSCRIPTION">
          <i class="material-icons">grade</i>
          {{user.data.SUBSCRIPTION}}</h5>
          <button type="submit" class="btn btn-outline-primary btn-block"
          name="button" (click)="changeForm()" >
          Mostrar/Editar
        </button>
      </div>

    </div>
    <br><br>
  </div>

  <div *ngIf="edit" class="col-md-8  form-container">
    <h4>Editar <small>perfil</small></h4>
    <hr>
    <!--form  -->
    <form  [formGroup]="form" (ngSubmit)="updateUser()"
    class="animated fadeIn ">
    <div class="form-group row ">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-8">

        <input class="form-control" type="text" [value]="this.userFild.Email"
        placeholder="Email" formControlName="Email">
        <div *ngIf="form.controls['Email'].errors?.required && form.get('Email').touched "
        class="no-valid">
        Es requerido
      </div>
      <div *ngIf="form.controls['Email'].errors?.pattern && form.get('Email').touched "
      class="no-valid">
      Formato invalido
    </div>
  </div>
</div>
<!--  -->
<div class="form-group row">
  <div class="col-sm-2">Caracteristicas</div>
  <div class="col-sm-10">

    <div class="form-check" >
      <label class="switch">
        <input  class="form-check-input" type="checkbox"
        formControlName="Certificates"
        data-toggle="toggle">
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        Certificados
      </label>
    </div>
<!--  -->
    <div class="form-check">
      <label class="switch">
        <input class="form-check-input" type="checkbox"
        formControlName="Tasks"
        data-toggle="toggle" >
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        Antecedentes del Instructor
      </label>
    </div>
<!--  -->
    <div class="form-check">
      <label class="switch">
        <input class="form-check-input" type="checkbox"
        formControlName="Courseware"
        data-toggle="toggle" >
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        Busqueda de cursos
      </label>
    </div>
<!--  -->
    <div class="form-check">
      <label class="switch">
        <input class="form-check-input" type="checkbox"
        formControlName="Course"
        data-toggle="toggle" >
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        Cursos
      </label>
    </div>
<!--  -->
    <div class="form-check">
      <label class="switch">
        <input class="form-check-input" type="checkbox"
        formControlName="Search"
        data-toggle="toggle" >
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        Busqueda Dashboard
      </label>
    </div>
<!--  -->
    <div class="form-check">
      <label class="switch">
        <input class="form-check-input" type="checkbox"
        formControlName="Edxnote"
        data-toggle="toggle" >
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        EDXnote
      </label>
    </div>

  </div>
</div>
<!--  -->
<div class="form-group row ">
  <label class="col-2 col-form-label">Tema</label>
  <div class="col-8">
    <select [(ngModel)]="userFild.Theme"
    class="form-control" type="text"
    formControlName="Theme">
    <option *ngFor="let theme of Themes"
    [value]="theme.id">{{theme.theme}}</option>
  </select>
</div>
</div>
<!--  -->
<div class="form-group row ">
  <label class="col-2 col-form-label">Zona Horaria</label>
  <div class="col-8">

    <select [(ngModel)]="userFild.TimeZone"
    class="form-control" type="text"
    formControlName="TimeZone">
    <option *ngFor="let timeZone of timeZones"
    [value]="timeZone.zona">{{timeZone.zona}}</option>
  </select>
</div>
</div>
<!--  -->
<div class="form-group row ">
  <label class="col-2 col-form-label">Lenguaje</label>
  <div class="col-8">

    <select [(ngModel)]="userFild.Lenguage"
    class="form-control" type="text"
    formControlName="Lenguage">
    <option *ngFor="let lenguage of lenguages"
    [value]="lenguage.id">{{lenguage.lenguage}}</option>
  </select>
</div>
</div>
<!--  -->
<div class="form-group row">
  <label class="col-2 col-form-label">&nbsp;</label>
  <div class="input-group col-md-8">
    <button type="submit" class="btn btn-primary"
    [disabled]="!form.valid">
    Guardar
  </button>
</div>
</div>
</form>
<!--  -->
</div>


<!--perfil show  -->
<div *ngIf="show && this.user.data" class="col-md-8 animated fadeIn ">
  <div class="row">
    <!-- Email -->
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <h6>Email:</h6>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">email</i> {{this.user.data.user_email}}
          </li>
        </ol>
      </nav>
    </div>
   <!--theme  -->
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <h6>  Tema:</h6>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">settings_ethernet</i> {{this.user.data.theme_name}}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- date of creation -->
  <div class="row">
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <h6>Con nosotros desde:</h6>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">card_membership</i>
            {{this.user.data.CREATION_DATE | date:'yyyy-MM-dd HH:mm a z':'+0900'}}
          </li>
        </ol>
      </nav>
    </div>
    <!--lats  payment date  -->
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <h6>Ultimo pago:</h6>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">payment</i>
            {{this.user.data.LAST_PAYMENT_DATE | date:'yyyy-MM-dd HH:mm a z':'+0900'}}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <h6>Zona horaria:</h6>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">room</i> {{this.user.data.displayed_timezone}}
          </li>
        </ol>
      </nav>
    </div>
    <!-- Lenguage -->
    <div class="col-md-2">
      <nav aria-label="breadcrumb">
        <h6>Lenguaje:</h6>

        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">g_translate</i> {{this.user.data.language_code}}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- features  -->
  <div class="row" >

    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <h6>Caracteristicas Habilitadas:</h6>

        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <i class="material-icons">widgets</i>

            <span *ngIf="this.userFild.Certificates"
            class="badge badge-info">Certificados</span>
            <span *ngIf="this.userFild.Tasks"
            class="badge badge-info">Antecedentes del Instructor</span>
            <span *ngIf="this.userFild.Courseware"
            class="badge badge-info">busqueda de curso</span>
            <span *ngIf="this.userFild.Course"
            class="badge badge-info">Cursos</span>
            <span *ngIf="this.userFild.Search"
            class="badge badge-info">Busqueda Dashboard</span>
            <span *ngIf="this.userFild.Edxnote"
            class="badge badge-info">EDXnotes</span>

            <span *ngIf="!this.userFild.Certificates"
            class="badge badge-secondary">Certificados</span>
            <span *ngIf="!this.userFild.Tasks"
            class="badge badge-secondary">Antecedentes del Instructor</span>
            <span *ngIf="!this.userFild.Courseware"
            class="badge badge-secondary">busqueda de curso</span>
            <span *ngIf="!this.userFild.Course"
            class="badge badge-secondary">Cursos</span>
            <span *ngIf="!this.userFild.Search"
            class="badge badge-secondary">Busqueda Dashboard</span>
            <span *ngIf="!this.userFild.Edxnote"
            class="badge badge-secondary">EDXnotes</span>

          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>
