
<div *ngIf="this.userSevice.userJson.status == '200'">

  <!--slide -->
  <div class="container box" >
    <div id="carouselExampleControls"
    class="carousel slide animated fadeIn"
    data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www1-lw.xda-cdn.com/files/2012/06/d_silhouette_Bart_Simpson.jpg" alt="First slide">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">¿Hoy quien quieres ser?</p>
            <input type="password" class="form-control"
            value="12ddgdgd345435353443534gdfgdfgdfgdfgdfgd3456"
            placeholder="Password">
            <a href="#" class="login btn btn-block btn-dark">Iniciar Sesion</a>
          </div>
        </div>
      </div>

      <!--slide of users-->
      <div *ngFor="let user of this.userSevice.userJson.data"
      class="carousel-item animated fadeIn">
      <img *ngIf=" user.data  && user.data.user_profile_image; else elseBlock"
      class="card-img-top d-block w-100" src={{user.data.user_profile_image}} alt="Card image cap">
      <ng-template #elseBlock>
        <img #elseBlock class="card-img-top" src="https://www1-lw.xda-cdn.com/files/2012/06/d_silhouette_Bart_Simpson.jpg" alt="Card image cap">
      </ng-template>      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 *ngIf=" user.data  && user.data.user_email; else elseEmail" class="card-title">{{user.data.user_email}}</h5>
          <ng-template #elseEmail>
            <h5>Usuario Invalido</h5>
          </ng-template>
          <p class="card-text">¿Hoy quien quieres ser?</p>
          <input type="password" class="form-control"
          value="12ddgdgd345435353443534gdfgdfgdfgdfgdfgd3456"
          placeholder="Password">
          <a  *ngIf="user.data"[routerLink]="['/home',user.id]" class="btn login btn-block btn-dark">Iniciar Sesion</a>
          <a  *ngIf="!user.data" disable class="btn login btn-block btn-dark">Iniciar Sesion</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<!-- toad  error -->
<div *ngIf="this.userSevice.userJson.status == '400'">
  <div class="alert alert-danger" role="alert">
    No se pudieron obtener los usuarios.
  </div>
</div>
