.box{
width: 30%;
margin-top: 0.5%;
}

.card {
  width: 100% !important;
  height: 200px;
  background-color: #47A9E5;
}

p{
  align-items: center !important;
}

@media (max-width: 800px){
	.box{
		width: 100%;
	}
}

.login{
   margin-top:2px;
}
